{% extends 'base.html' %}
{% load humanize %}

{% block content %}
{#{% if request.user.is_authenticated %}#}
{#    <p>Hello {{ request.user.username|title }}, you last logged in at#}
{#        {{ request.user.last_login|date:'l, jS F, Y.' }}</p>#}
{#{%  else %}#}
{#    <p>Welcome guest!</p>#}
{#{% endif %}#}

{#<main>#}
    <h1>{{ books.count|apnumber|title }} book{{ books.count|pluralize }}</h1>

    {% for book in books %}
     {% include 'book-detail.html' %}
    {% endfor %}
{% endblock %}
{#</main>#}
{#</body>#}
{#</html>#}